@using ProdavnicaMeda.Models
@model IEnumerable<Proizvod>
@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
   <h1>Kupi med brzo i lako!</h1>
</div>
<div>
    <form action="~/Home/Sortiraj" class="form-inline">
        <table>
            <tr>

                <td>Sortiraj:</td>
                <td>
                    <input list="sortt" name="sortiraj" />
                    <datalist id="sortt">
                        <option value="Nazivu"></option>
                        <option value="Vrsti meda"></option>
                        <option value="Ceni (opadajuca)"></option>
                        <option value="Ceni (rastuca)"></option>
                    </datalist>
                </td>

                <td>
                    <input list="c" name="cenalist" />
                    <datalist id="c">
                        <option value="Skuplji od"></option>
                        <option value="Jeftiniji od"></option>
                    </datalist>
                </td>
                <td><input type="text" name="cena" /></td>
                <td>
                    <input type="submit" />
                </td>
            </tr>
        </table>
    </form>
</div>
<table class="table">
    <tr>
        <th>Naziv</th>
        <th>Vrsta Meda</th>
        <th>Proizvodjac</th>
        <th>Cena</th>
        <th>Raspoloziva Kolicina</th>
    </tr>
    @foreach(Proizvod k in Model)
    {
        if (k.KolicinaTegli != 0)
        {
            <tr>
                <td>@k.Naziv</td>
                <td>@k.VrstaMeda</td>
                <td>@k.Proizvodjac</td>
                <td>@k.Cena.ToString()</td>
                <td>@k.KolicinaTegli</td>
            </tr>
        }
     }
</table>